[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
requests = "*"
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
tweepy = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
